.gridContainer
{
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.gridItem
{
    flex-grow: 1;
    background-color: #f1f1f1;
}

body
{
    min-height: 400px;
    margin-bottom: 100px;
    clear: both;
}

section
{
    background-color: gainsboro;
    max-width: 1500px;
    margin: 5px 0px;
}

section div
{
    padding: 5px;
}

#hbv_logo
{
    width: 100px;
}

ul 
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #f1f1f1;
    max-width: 1500px;
}

li
{
    float: left;
}

li a
{
    display: block;
    width: 185px;
    text-decoration: none;
    text-align: center;
    padding: 14px 16px;
}

li a:hover
{
    background-color: #82b3ff;
    color: white;
}

.active
{
    background-color: #0F69B4;
    color: white;
}

.reserva
{
    float: right;
}

.reserva a
{
    width: 140px;
    background-color: #ce484a;
    color: white;
}

.reserva a:hover
{
    background-color: #e22c2c;
}

footer
{
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: #0F69B4;
    width: 100%;
    color: white;
    text-align: center;
}

.formContainer
{
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    width: 75%;
}

.formRow
{
    display: flex;
}

.formRow::after
{
    content: "";
    display: table;
    clear: both;
}

.formRowLabel
{
    float: left;
    width: 25%;
    margin-top: 6px;
}

.formRowInput
{
    float: left;
    width: 75%;
    margin-top: 6px;
}

input[type=text], select, textarea
{
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }
  
  label
  {
    padding: 12px 12px 12px 0;
    display: inline-block;
  }
  
  input[type=submit] 
  {
    background-color: #0F69B4;
    color: white;
    padding: 12px 20px;
    margin-left: 25%;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

#servicios img
{
    width: 100px;
}

#equipo img
{
    width: 100px;
}